<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <target name="log4view" xsi:type="NLogViewer" address="tcp://127.0.0.1:878"/>
    <target name="debugger" xsi:type="Debugger" layout="${logger}::${message}"/>
  </targets>
  <rules>
    <logger name="*" writeTo="log4view,debugger" />
  </rules>
</nlog>
